In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

# ETL Using Pandas

In [4]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL connection details
username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "companydb"

# Create a connection to MySQL database
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Read data from the 'Employee' table into a Pandas DataFrame
df = pd.read_sql('SELECT * FROM Employee', con=engine)

# Convert date columns to datetime format
df['JoiningDate'] = pd.to_datetime(df['JoiningDate'])
df['Leaving_Org_Date'] = pd.to_datetime(df['Leaving_Org_Date'])

# Rename columns
df.rename(columns={'Leaving_Org_Date': 'Leaving_Org_Date'}, inplace=True)

# Add new columns
df['Annual_CTC'] = df['Salary'] * 12

df['Total_Months_Worked'] = ((df['Leaving_Org_Date'] - df['JoiningDate']).dt.days // 30)

df.to_sql('employee', con=engine, if_exists='replace', index=False)
df.to_csv('cleaned_data.csv', index=False)

In [5]:
df

,EmployeeID,Name,DepID,Salary,Age,JoiningDate,Leaving_Org_Date,manager_id,Annual_CTC,Total_Months_Worked
0,5,Emma,1,52000.0,32,2021-03-12,2025-06-15,1.0,624000.0,51
1,6,Frank,2,63000.0,29,2018-11-20,2023-02-28,2.0,756000.0,52
2,7,Grace,3,58000.0,33,2017-07-05,2022-09-10,3.0,696000.0,63
3,8,Hannah,1,49000.0,27,2022-01-30,2026-05-01,5.0,588000.0,51
4,9,Isaac,2,75000.0,42,2014-06-22,2019-10-15,NaN,900000.0,64
5,10,Jack,3,57000.0,31,2019-02-15,2023-07-20,7.0,684000.0,53
6,11,Karen,1,51000.0,29,2020-09-10,2024-03-18,5.0,612000.0,42
7,12,Leo,2,72000.0,38,2016-12-05,2022-02-10,9.0,864000.0,63
8,13,Mia,3,75000.0,36,2015-04-25,2020-08-30,NaN,900000.0,65
9,14,Noah,1,53000.0,30,2021-07-14,2024-12-01,11.0,636000.0,41
10,15,Olivia,2,68000.0,34,2017-10-03,2022-05-25,9.0,816000.0,56
11,16,Paul,3,60000.0,40,2014-08-19,2019-12-20,NaN,720000.0,64
12,17,Quinn,1,50000.0,28,2023-05-22,2026-09-10,11.0,600000.0,40
13,18,Rachel,2,71000.0,39,2015-11-07,2021-03-15,12.0,852000.0,65
14,19,Steve,3,56000.0,32,2019-06-30,2024-02-28,13.0,672000.0,56
15,20,Tracy,1,54000.0,33,2022-02-17,2025-09-30,14.0,648000.0,44
16,21,Uma,2,64000.0,31,2018-09-24,2023-07-15,15.0,768000.0,58
17,22,Victor,3,58000.0,35,2016-05-18,2021-11-01,16.0,696000.0,66
18,23,Wendy,1,52000.0,30,2021-12-29,2025-08-05,14.0,624000.0,43
19,24,Xander,2,76000.0,45,2012-03-15,2017-06-10,NaN,912000.0,63

In [6]:
# Remove missing values
#df.dropna(inplace=True)

# Convert date column to datetime format
df['JoiningDate'] = pd.to_datetime(df['JoiningDate'])

df['Leaving_Org_Date'] = pd.to_datetime(df['Leaving_Org_Date'])

# Rename columns
df.rename(columns={'Leaving_Org_Date': 'Employee_Org_Leaving_Date'}, inplace=True)

# Add a new column
df['Annual_CTC'] = df['Salary'] * 12

In [7]:
df

,EmployeeID,Name,DepID,Salary,Age,JoiningDate,Employee_Org_Leaving_Date,manager_id,Annual_CTC,Total_Months_Worked
0,5,Emma,1,52000.0,32,2021-03-12,2025-06-15,1.0,624000.0,51
1,6,Frank,2,63000.0,29,2018-11-20,2023-02-28,2.0,756000.0,52
2,7,Grace,3,58000.0,33,2017-07-05,2022-09-10,3.0,696000.0,63
3,8,Hannah,1,49000.0,27,2022-01-30,2026-05-01,5.0,588000.0,51
4,9,Isaac,2,75000.0,42,2014-06-22,2019-10-15,NaN,900000.0,64
5,10,Jack,3,57000.0,31,2019-02-15,2023-07-20,7.0,684000.0,53
6,11,Karen,1,51000.0,29,2020-09-10,2024-03-18,5.0,612000.0,42
7,12,Leo,2,72000.0,38,2016-12-05,2022-02-10,9.0,864000.0,63
8,13,Mia,3,75000.0,36,2015-04-25,2020-08-30,NaN,900000.0,65
9,14,Noah,1,53000.0,30,2021-07-14,2024-12-01,11.0,636000.0,41
10,15,Olivia,2,68000.0,34,2017-10-03,2022-05-25,9.0,816000.0,56
11,16,Paul,3,60000.0,40,2014-08-19,2019-12-20,NaN,720000.0,64
12,17,Quinn,1,50000.0,28,2023-05-22,2026-09-10,11.0,600000.0,40
13,18,Rachel,2,71000.0,39,2015-11-07,2021-03-15,12.0,852000.0,65
14,19,Steve,3,56000.0,32,2019-06-30,2024-02-28,13.0,672000.0,56
15,20,Tracy,1,54000.0,33,2022-02-17,2025-09-30,14.0,648000.0,44
16,21,Uma,2,64000.0,31,2018-09-24,2023-07-15,15.0,768000.0,58
17,22,Victor,3,58000.0,35,2016-05-18,2021-11-01,16.0,696000.0,66
18,23,Wendy,1,52000.0,30,2021-12-29,2025-08-05,14.0,624000.0,43
19,24,Xander,2,76000.0,45,2012-03-15,2017-06-10,NaN,912000.0,63

In [8]:
# Load data into MySQL database
df.to_sql('employee', con=engine, if_exists='replace', index=False)

20

In [9]:
df.to_csv('cleaned_data.csv', index=False)

In [10]:
pip install apache-airflow

Requirement already satisfied: apache-airflow in c:\programdata\anaconda3\lib\site-packages (2.10.5)
Requirement already satisfied: alembic<2.0,>=1.13.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.14.1)
Requirement already satisfied: argcomplete>=1.10 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.5.3)
Requirement already satisfied: asgiref>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.8.1)
Requirement already satisfied: attrs>=22.1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (25.1.0)
Requirement already satisfied: blinker>=1.6.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.9.0)
Requirement already satisfied: colorlog>=6.8.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (6.9.0)
Requirement already satisfied: configupdater>=3.1.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.2)
Requirement already satisfied: connexion[flask]<3.0,>=2.14.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.14.2)
Requirement already satisfied: cron-descriptor>=1.2.24 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.4.5)
Requirement already satisfied: croniter>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (6.0.0)
Requirement already satisfied: cryptography>=41.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (41.0.3)
Requirement already satisfied: deprecated>=1.2.13 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.2.18)
Requirement already satisfied: dill>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.3.6)
Requirement already satisfied: flask-caching>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.3.1)
Requirement already satisfied: flask-session<0.6,>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.5.0)
Requirement already satisfied: flask-wtf>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.2.2)
Requirement already satisfied: flask<2.3,>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.2.2)
Requirement already satisfied: fsspec>=2023.10.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2025.2.0)
Requirement already satisfied: google-re2>=1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.1.20240702)
Requirement already satisfied: gunicorn>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (23.0.0)
Requirement already satisfied: httpx>=0.25.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.26.0)
Requirement already satisfied: importlib_metadata>=6.5 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (8.5.0)
Requirement already satisfied: itsdangerous>=2.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.0.1)
Requirement already satisfied: jinja2>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.1.2)
Requirement already satisfied: jsonschema>=4.18.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (4.23.0)
Requirement already satisfied: lazy-object-proxy>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.6.0)
Requirement already satisfied: linkify-it-py>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.0.0)
Requirement already satisfied: lockfile>=0.12.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.12.2)
Requirement already satisfied: markdown-it-py>=2.1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.2.0)
Requirement already satisfied: markupsafe>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.1.1)
Requirement already satisfied: marshmallow-oneofschema>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.1.1)
Requirement already satisfied: mdit-py-plugins>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.3.0)
Requirement already satisfied: methodtools>=0.4.7 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.4.7)
Requirement already satisfied: opentelemetry-api>=1.24.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.30.0)
Requirement already satisfied: opentelemetry-exporter-otlp>=1.24.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.30.0)
Requirement already satisfied: packaging>=23.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (23.1)
Requirement already satisfied: pathspec>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.10.3)
Requirement already satisfied: pendulum<4.0,>=2.1.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.0.0)
Requirement already satisfied: pluggy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.5.0)
Requirement already satisfied: psutil>=5.8.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (5.9.0)
Requirement already satisfied: pygments>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.15.1)
Requirement already satisfied: pyjwt>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.4.0)
Requirement already satisfied: python-daemon>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.8.2)
Requirement already satisfied: python-nvd3>=0.15.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.16.0)
Requirement already satisfied: python-slugify>=5.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (5.0.2)
Requirement already satisfied: requests<3,>=2.27.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.31.0)
Requirement already satisfied: requests-toolbelt>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.0.0)
Requirement already satisfied: rfc3339-validator>=0.1.4 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.1.4)
Requirement already satisfied: rich-argparse>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.7.0)
Requirement already satisfied: rich>=12.4.4 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (13.7.0)
Requirement already satisfied: setproctitle>=1.3.3 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.3.5)
Requirement already satisfied: sqlalchemy<2.0,>=1.4.36 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.4.39)
Requirement already satisfied: sqlalchemy-jsonfield>=1.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.0.2)
Requirement already satisfied: tabulate>=0.7.5 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.8.10)
Requirement already satisfied: tenacity!=8.2.0,>=8.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (8.2.2)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\dhananjay\appdata\roaming\python\python311\site-packages (from apache-airflow) (2.4.0)
Requirement already satisfied: universal-pathlib!=0.2.4,>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (0.2.6)
Requirement already satisfied: werkzeug<3,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (2.2.3)
Requirement already satisfied: apache-airflow-providers-common-compat in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.3.0)
Requirement already satisfied: apache-airflow-providers-common-io in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.5.0)
Requirement already satisfied: apache-airflow-providers-common-sql in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.21.0)
Requirement already satisfied: apache-airflow-providers-fab>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.5.3)
Requirement already satisfied: apache-airflow-providers-ftp in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.12.0)
Requirement already satisfied: apache-airflow-providers-http in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (5.0.0)
Requirement already satisfied: apache-airflow-providers-imap in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (3.8.0)
Requirement already satisfied: apache-airflow-providers-smtp in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (1.9.0)
Requirement already satisfied: apache-airflow-providers-sqlite in c:\programdata\anaconda3\lib\site-packages (from apache-airflow) (4.0.0)
Requirement already satisfied: Mako in c:\programdata\anaconda3\lib\site-packages (from alembic<2.0,>=1.13.1->apache-airflow) (1.3.9)
Requirement already satisfied: typing-extensions>=4 in c:\programdata\anaconda3\lib\site-packages (from alembic<2.0,>=1.13.1->apache-airflow) (4.9.0)
Requirement already satisfied: flask-appbuilder==4.5.3 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-fab>=1.0.2->apache-airflow) (4.5.3)
Requirement already satisfied: flask-login>=0.6.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.6.3)
Requirement already satisfied: jmespath>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.10.0)
Requirement already satisfied: apispec[yaml]<7,>=6.0.0 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (6.8.1)
Requirement already satisfied: colorama<1,>=0.3.9 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.4.6)
Requirement already satisfied: click<9,>=8 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (8.0.4)
Requirement already satisfied: email-validator>=1.0.5 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (2.2.0)
Requirement already satisfied: Flask-Babel<3,>=1 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (2.0.0)
Requirement already satisfied: Flask-Limiter<4,>3 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (3.10.1)
Requirement already satisfied: Flask-SQLAlchemy<3,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (2.5.1)
Requirement already satisfied: Flask-JWT-Extended<5.0.0,>=4.0.0 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (4.7.1)
Requirement already satisfied: marshmallow<4,>=3.18.0 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (3.26.1)
Requirement already satisfied: marshmallow-sqlalchemy<0.29.0,>=0.22.0 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.28.2)
Requirement already satisfied: prison<1.0.0,>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.2.1)
Requirement already satisfied: sqlalchemy-utils<1,>=0.32.21 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (0.41.2)
Requirement already satisfied: WTForms<4 in c:\programdata\anaconda3\lib\site-packages (from flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (3.2.1)
Requirement already satisfied: clickclick<21,>=1.2 in c:\programdata\anaconda3\lib\site-packages (from connexion[flask]<3.0,>=2.14.2->apache-airflow) (20.10.2)
Requirement already satisfied: PyYAML<7,>=5.1 in c:\programdata\anaconda3\lib\site-packages (from connexion[flask]<3.0,>=2.14.2->apache-airflow) (6.0)
Requirement already satisfied: inflection<0.6,>=0.3.1 in c:\programdata\anaconda3\lib\site-packages (from connexion[flask]<3.0,>=2.14.2->apache-airflow) (0.5.1)
Requirement already satisfied: pytz>2021.1 in c:\programdata\anaconda3\lib\site-packages (from croniter>=2.0.2->apache-airflow) (2023.3.post1)
Requirement already satisfied: cffi>=1.12 in c:\programdata\anaconda3\lib\site-packages (from cryptography>=41.0.0->apache-airflow) (1.15.1)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.13->apache-airflow) (1.14.1)
Requirement already satisfied: cachelib>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from flask-caching>=2.0.0->apache-airflow) (0.13.0)
Requirement already satisfied: anyio in c:\programdata\anaconda3\lib\site-packages (from httpx>=0.25.0->apache-airflow) (3.5.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from httpx>=0.25.0->apache-airflow) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\programdata\anaconda3\lib\site-packages (from httpx>=0.25.0->apache-airflow) (1.0.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from httpx>=0.25.0->apache-airflow) (3.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from httpx>=0.25.0->apache-airflow) (1.3.0)
Requirement already satisfied: h11<0.15,>=0.13 in c:\programdata\anaconda3\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->apache-airflow) (0.14.0)
Requirement already satisfied: zipp>=3.20 in c:\programdata\anaconda3\lib\site-packages (from importlib_metadata>=6.5->apache-airflow) (3.21.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->apache-airflow) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->apache-airflow) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->apache-airflow) (0.23.1)
Requirement already satisfied: uc-micro-py in c:\programdata\anaconda3\lib\site-packages (from linkify-it-py>=2.0.0->apache-airflow) (1.0.1)
Requirement already satisfied: mdurl~=0.1 in c:\programdata\anaconda3\lib\site-packages (from markdown-it-py>=2.1.0->apache-airflow) (0.1.0)
Requirement already satisfied: wirerope>=0.4.7 in c:\programdata\anaconda3\lib\site-packages (from methodtools>=0.4.7->apache-airflow) (1.0.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-grpc==1.30.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.30.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-http==1.30.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.30.0)
Requirement already satisfied: googleapis-common-protos~=1.52 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.68.0)
Requirement already satisfied: grpcio<2.0.0,>=1.63.2 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.70.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-common==1.30.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.30.0)
Requirement already satisfied: opentelemetry-proto==1.30.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.30.0)
Requirement already satisfied: opentelemetry-sdk~=1.30.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (1.30.0)
Requirement already satisfied: protobuf<6.0,>=5.0 in c:\programdata\anaconda3\lib\site-packages (from opentelemetry-proto==1.30.0->opentelemetry-exporter-otlp-proto-grpc==1.30.0->opentelemetry-exporter-otlp>=1.24.0->apache-airflow) (5.29.3)
Requirement already satisfied: tzdata>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pendulum<4.0,>=2.1.2->apache-airflow) (2023.3)
Requirement already satisfied: time-machine>=2.6.0 in c:\programdata\anaconda3\lib\site-packages (from pendulum<4.0,>=2.1.2->apache-airflow) (2.16.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.0->apache-airflow) (1.16.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify>=5.0->apache-airflow) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27.0->apache-airflow) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27.0->apache-airflow) (1.26.16)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy<2.0,>=1.4.36->apache-airflow) (2.0.1)
Requirement already satisfied: more-itertools>=9.0.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-common-sql->apache-airflow) (10.6.0)
Requirement already satisfied: sqlparse>=0.5.1 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-common-sql->apache-airflow) (0.5.3)
Requirement already satisfied: aiohttp!=3.11.0,>=3.9.2 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-http->apache-airflow) (3.11.13)
Requirement already satisfied: aiosqlite>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from apache-airflow-providers-sqlite->apache-airflow) (0.21.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (2.4.6)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (6.0.2)
Requirement already satisfied: propcache>=0.2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (0.3.0)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=3.11.0,>=3.9.2->apache-airflow-providers-http->apache-airflow) (1.18.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=41.0.0->apache-airflow) (2.21)
Requirement already satisfied: dnspython>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from email-validator>=1.0.5->flask-appbuilder==4.5.3->apache-airflow-providers-fab>=1.0.2->apache-airflow) (2.7.0)

from airflow import DAG
from airflow.operators.python_operator import PythonOperator
from datetime import datetime

def extract():
    df = pd.read_csv('cleaned_data.csv')
    df.to_csv('extracted_data.csv', index=False)

def transform():
    df = pd.read_csv('extracted_data.csv')
    df.dropna(inplace=True)
    df.to_csv('transformed_data.csv', index=False)

def load():
    df = pd.read_csv('transformed_data.csv')
    df.to_sql('table_name', con=engine, if_exists='replace', index=False)

dag = DAG('etl_pipeline', schedule_interval='@daily', start_date=datetime(2024, 1, 1))

extract_task = PythonOperator(task_id='extract', python_callable=extract, dag=dag)
transform_task = PythonOperator(task_id='transform', python_callable=transform, dag=dag)
load_task = PythonOperator(task_id='load', python_callable=load, dag=dag)

extract_task >> transform_task >> load_task

In [12]:
import os
os.environ["NUMEXPR_MAX_THREADS"] = "16"  # Set to your CPU core count

In [13]:
from airflow import DAG
from airflow.operators.python import PythonOperator  # ✅ Corrected import
from datetime import datetime
import pandas as pd
from sqlalchemy import create_engine


# Define your MySQL connection details
username = "root"  # Your MySQL username
password = "root"  # Your MySQL password
host = "localhost"  # MySQL is running locally
port = "3306"  # Your MySQL port (default is 3306, but you are using 3307)
database = "companydb"  # Your database name

# Create a connection to MySQL database
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")


def extract():
    df = pd.read_sql('SELECT * FROM Employee', con=engine)
    df.to_csv('extracted_data.csv', index=False)

def transform():
    # Convert date column to datetime format
    df['JoiningDate'] = pd.to_datetime(df['JoiningDate'])

    df['Leaving_Org_Date'] = pd.to_datetime(df['Leaving_Org_Date'])

    # Rename columns
    df.rename(columns={'Leaving_Org_Date': 'Employee_Org_Leaving_Date'}, inplace=True)

    # Add a new column
    df['Annual_CTC'] = df['Salary'] * 12
    
    df.to_csv('transformed_data.csv', index=False)

def load():
    # Load data into MySQL database
    df.to_sql('employee', con=engine, if_exists='replace', index=False)
    df.to_csv('cleaned_data.csv', index=False)

# ✅ Updated 'schedule_interval' to 'schedule'
dag = DAG(
    "etl_pipeline",
    schedule="@daily",  # ✅ Updated
    start_date=datetime(2024, 1, 1),
    catchup=False  # Optional: prevents backfilling old DAG runs
)

extract_task = PythonOperator(task_id="extract", python_callable=extract, dag=dag)
transform_task = PythonOperator(task_id="transform", python_callable=transform, dag=dag)
load_task = PythonOperator(task_id="load", python_callable=load, dag=dag)

extract_task >> transform_task >> load_task  # Set task dependencies